{% extends "world/base.html" %}
{% block content %}
    {% load leaflet_tags %}
    {% load static %}
    {% load i18n %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        {% block head_title %}{% endblock %}
        {% block extra_header %}
            <h2>Journey</h2>
        {% endblock %}

    </head>
    <body>
    {% block body_content %}
        <style>
            #map {
                width: 70vw;
                height: 60vh;
            }
        </style>
        {% leaflet_map "map" callback="window.map_init_basic" %}

    {% endblock %}
    </body>
    {% block extra_footer %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://unpkg.com/osmtogeojson@2.2.12/osmtogeojson.js"></script>

        <script>
            $("#body_div").css({"top": $(".site-header").height() + 10, "position": "absolute"});
            $(".toast").css({
                "top": ($(document).height() / 5),
                "left": ($(document).width() / 5),
                "position": "fixed",
                "z-index": 2000
            });


        </script>
        <script>
            let HOST = location.protocol + "//" + location.host;
            let locationMarker;
            let circle;
            let globalLat;
            let globalLng;
            let geojson;
            let drivingState;

            // Checking if Geolocation is supported
            if (navigator.geolocation) {
                console.log('Geolocation is supported!');
            } else {
                console.log('Geolocation is not supported for this Browser/OS version yet.');
            }

            $("#map").css({
                "width": "100%",
                "height": $(document).height() - ($(".site-header").height() + $("#footer").height() + 45)
            });

            // Map initialises on startup
            function map_init_basic(map, options) {

                map.setView([53.5, -8.5], 11);
                getLastJourney(map);
                updateLocation(map);
                map.on('touchstart click dblclick ', function () {
                });
            }

            function updateLocation(map) {
                navigator.geolocation.getCurrentPosition(function (pos) {
                        setMapToCurrentLocation(map, pos);
                    },
                    function (err) {
                    },
                    {
                        enableHighAccuracy: true,
                        timeout: 30000
                    }
                );
            }

            // Function to set the map to the current location
            function setMapToCurrentLocation(map, pos) {
                console.log("In setMapToCurrentLocation.");
                let myLatLon = L.latLng(pos.coords.latitude, pos.coords.longitude);
                globalLat = myLatLon.lat;
                globalLng = myLatLon.lng;
                map.flyTo(myLatLon, 12);
            }

            function getLastJourney(map) {
                $.ajax({
                    type: "GET",
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    url: HOST + "/getLastJourney/"
                }).done(function (data, status, xhr) {
                    updateLastJourney(data, map);
                }).fail(function (xhr, status, error) {
                    console.log(error);
                });
            }

            function updateLastJourney(data, map) {
                var timestampOld, timestampDif, speedOld, speedChange;
                journeyTrail = data[0].last_location;
                console.log(journeyTrail);

                var json = JSON.parse(journeyTrail)
                console.log(json);

                geojson = {
                    type: "FeatureCollection",
                    features: [],
                };

                for (var i = 0; i < json.journeyInfo.length; i++) {
                    geojson.features.push({
                        "type": "Feature",
                        "geometry": {
                            "type": "LineString",
                            "coordinates": [
                                [
                                    json.journeyInfo[i].lon1, json.journeyInfo[i].lat1
                                ],
                                [
                                    json.journeyInfo[i].lon2, json.journeyInfo[i].lat2
                                ]
                            ]
                        },
                        "properties": {
                            "timestamp": json.journeyInfo[i].timestamp,
                            "speed": json.journeyInfo[i].speed,
                            "speedLimit": json.journeyInfo[i].speedLimit,
                            "road": json.journeyInfo[i].road,
                            "color": getSpeedColour(json.journeyInfo[i].speed, json.journeyInfo[i].speedLimit)
                        }

                    });
                }
                console.log(geojson);

                L.geoJson(geojson, {
                    style: function (feature) {
                        return {
                            color: feature.properties.color,
                            weight: 5
                        };
                    }
                }).addTo(map);

                var features = geojson.features.length;
                console.log("Num of features: " + features);
                var beg = geojson.features[0].geometry.coordinates[0];
                var end = geojson.features[features - 1].geometry.coordinates[1];

                var greenIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                L.marker([beg[1], beg[0]], {icon: greenIcon}).addTo(map);

                var redIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                L.marker([end[1], end[0]], {icon: redIcon}).addTo(map);

                drivingState = "safe";
                for (var i = 0; i < json.journeyInfo.length; i++) {

                    if (i > 0) {
                        timestampDif = (Math.abs(convertTimeStamp(json.journeyInfo[i].timestamp) - convertTimeStamp(timestampOld)) / 1000);
                        speedChange = (json.journeyInfo[i].speed - speedOld);
                        var acceleration = speedChange / timestampDif;
                        console.log(acceleration + " Acceleration " + i);
                        // harsh acceleration
                        if (acceleration > 13) {
                            //draw icon
                            var accelIcon = new L.Icon({
                                iconUrl: '/harshAccel.png',
                                iconSize: [65, 65],
                                iconAnchor: [32, 65],
                                popupAnchor: [0, -50]
                            });
                            var accelPoint = geojson.features[i].geometry.coordinates[0];
                            L.marker([accelPoint[1], accelPoint[0]], {icon: accelIcon}).addTo(map).bindPopup(
                                "<b>Harsh Acceleration!</b><br>" +
                                "Acceleration: " + Math.round(acceleration) + "km/h per second<br>" +
                                "Speed: " + json.journeyInfo[i].speed + "km/h<br>" +
                                "Road: " + json.journeyInfo[i].road);
                        }
                        // harsh braking
                        else if (acceleration < -10) {

                            // draw icon
                            var brakeIcon = new L.Icon({
                                iconUrl: '/harshBraking.png',
                                iconSize: [65, 65],
                                iconAnchor: [32, 65],
                                popupAnchor: [0, -50]
                            });
                            var brakePoint = geojson.features[i].geometry.coordinates[0];
                            L.marker([brakePoint[1], brakePoint[0]], {icon: brakeIcon}).addTo(map).bindPopup(
                                "<b>Harsh Braking!</b><br>" +
                                "Deceleration: " + Math.round(acceleration) + "km/h per second<br>" +
                                "Speed: " + json.journeyInfo[i].speed + "km/h<br>" +
                                "Road: " + json.journeyInfo[i].road);
                        }
                    }

                    speedOld = json.journeyInfo[i].speed;
                    timestampOld = json.journeyInfo[i].timestamp;

                }

            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function getSpeedColour(speed, speedLimit) {

                if (speedLimit == 0) {
                    return "green";
                } else {

                    // Over speed limit
                    if (speed > speedLimit) {
                        var color = 255 - (((speed - speedLimit) / speedLimit) * 255)
                        if (color < 0) {
                            color = 0;
                        } else if (color > 255) {
                            color = 255;
                        }
                        return "rgb(" + color + ", 0, 0)";
                    }

                    // Normal speed
                    else if (speed <= speedLimit) {
                        return "green";
                    }
                }
            }

            function convertTimeStamp(unix_timestamp) {
                // Creating a date object based on the timestamp
                var date = new Date(unix_timestamp);
                return date;
            }

        </script>

    {% endblock %}
{% endblock content %}


